streamlit
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-text-splitters==0.3.9
langchain-groq==0.3.8

chromadb

sentence-transformers

huggingface-hub

pypdf

docx2txt

beautifulsoup4

youtube-transcript-api

python-dotenv